# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# Notebooks
.ipynb_checkpoints/

# Editor
.vscode/
.idea/

# Build
build/
dist/

# Project data and outputs
config/creds.json
config/email_pid.json
config/email_matching.json
config/*.xlsx

data/raw/**

data/processed/**
data/final/**
data/qualified.txt

data/analysis/**

# Figures and generated visuals
figures/**

# Logs
*.log
